* {
    padding: 0;
    margin: 0;
   box-sizing: border-box;
 }

 body{
     width: 100vw;
     height: 100%;
 }

 .contact{
     width: 30%;
     height: 100%;
     margin: 200px auto;
     padding: 30px 0;
     border: 2px solid black;
     text-align: center;
     background-color: #eee;
 }

 .h1{
     font-size: 24px;
     color: black;
     text-decoration: underline;
 }


 #btn{
     padding: 10px;
     margin: 10px 0;
     width: 50%;
 }

 #btn:hover{
     cursor: pointer;
     background-color: aliceblue;
     height: auto;
     border-radius: 5px;
 }

 p {
   color: purple;
   margin: 0.5em 0;
 }

 input{
     width: 100px;
     height: 20px;
     margin: 10px 0;
 }